<div id="dashboard">
	<div class="loading row span offset4">
		<h3>Waiting for Location</h3>
	</div>
	<div class="nogeo span offset4">
		<h3>Unfortunately, we couldn't determine your location. <br/> Please make sure you have Location Services enabled and try again</h3>
	</div>
	<div class="main">
		<%= render :partial => 'shared/card', :locals => {user: @user} %>
		<div class="presser">
			<%= image_tag asset_path('handAnimation.png') %>
			<div></div>
		</div>
		<a href="/shares"><div class='btn btn-large centered' style='width: 270px; margin: 0 auto; margin-bottom: 10px'>Contacts</div></a>
	</div>

	<div class="edit">
	
	</div>
	<div class="results">
		<h2 class="centered">People Near You</h2>
		<div class="card-reference card page-curl curl">
			<div class="top">
				<div class="photo">
					<img class="profile-photo">
				</div>
				<div class="header">
					<h1 class="name"></h1>
					<h1 class="lastname"></h1>
				</div>
			</div>
			<div class="bottom shadow-bottom">
				<ul class="fields">
				</ul>
			</div>
		</div>
		<div id='results-back' class='btn btn-large'>Back</div>
	</div>

</div>
<input type="hidden" id="asset-path" value="">

<script type="text/javascript">
Dashboard.init();
</script>