<div class="presser">
	<%= image_tag asset_path('handAnimation.png') %>
	<div></div>
</div>
<div id="pressed"></div>
<script type="text/javascript">
	var transitionEvents = 'webkitTransitionEnd oTransitionEnd transitionEnd transitionend';
	var finished = function(){
		$('.presser').unbind(transitionEvents);
		$("#pressed").append("<br>Finished");		
	}
	var retreated = function(){
		$('.presser').unbind(transitionEvents);
		$("#pressed").append("<br>Retreated");
	}
	$(".presser").bind('mousedown touchstart', function(e){
		e.preventDefault();
		$('.presser').unbind(transitionEvents).bind(transitionEvents, finished);
		$(this).addClass("active");
	}).bind('mouseup touchend', function(e){
		$('.presser').unbind(transitionEvents).bind(transitionEvents, retreated);
		$(this).removeClass("active");
	}).attr('unselectable', 'on');
</script>