<div class="presser">
	<%= image_tag asset_path('handAnimation.png') %>
	<div></div>
</div>
<div id="pressed"></div>
<script type="text/javascript">
	var pressing = false;
	var transitionPropCt = 4; //How many css props are transitioning?
	var transitionCt = 0; //This gets incremented
	$(".presser").mousedown(function(){
		pressing = true;
	}).mouseup(function(){
		pressing = false;
	}).bind('webkitTransitionEnd', function(){
		transitionCt++;
		if((transitionCt%transitionPropCt)==1){
			if(pressing){
				$("#pressed").append("<br>Finished "+transitionCt);
			} else {
				$("#pressed").append("<br>Retreated "+transitionCt);
			}
		}
	});
</script>