// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#dashboard .main, 
#dashboard .results, 
#dashboard .nogeo {
	display:none;
}

#dashboard .results {
  width: 310px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  .btn {
    width: 280px;
    margin: 0 auto;
  }
}