=render :partial => 'shared/card', :locals => {user: current_user}

.row.span12
  #fields.autocenter
    #add-field
      %span.add-icon
        Add Field

    %h2 Unshared Fields
    %ul.fields
      - current_user.fields.unshared.each do |field|
        = render :partial => 'shared/card-field', locals: {field: field}
      