#profile

  =render :partial => 'shared/card', :locals => {user: current_user}

  .row.span12
    #fields.autocenter
      #add-field
        %i.icon-plus-sign.add-icon
        %span.add-icon
          Add Field

      / %h2 Unshared Fields
      / %ul.fields
      /   - current_user.fields.unshared.each do |field|
      /     = render :partial => 'shared/card-field', locals: {field: field}

  #add-field-form.curl.page-curl.modal.hide.fade
    .modal-header
      %button.close{'data-dismiss' => 'modal'}
        x
      %h3
        Add Field
    .modal-body
      %label{for: :thing}
        Type
      %select{id: 'add-field-type'}
        - ShareField::TYPES.each do |type|
          %option{value: type.gsub(' ','-')}
            = "#{ShareField.humanize(type.gsub(' ','-'))}"
      %br
      %label{for: '#add-field-value'}
        Value

      %input#add-field-value
      %br
      #add-field-submit.btn.btn-large.btn-success
        Add Field

  .autocenter{'style'=>'width:330px;text-align:center;clear:both;padding-top:10px;'}
    = link_to 'Back', '/dashboard', {:class=>'btn', :style=>'width:280px;'}